<%= render 'shared/errors',obj: @blog %>


<div class="row">
  <div class="well col-md-8 col-md-offset-2">

    <%= form_for @blog do |f| %>
        <%= f.label :name %>
        <%= f.text_field :blogname %>


        <%= f.label :Content %>
        <%= f.text_area :description, rows:10 %>

        <%= f.submit(@blog.new_record? ? 'Create Blog' : 'Edit Blog',
                     class:'btn btn-success' )%>
    <% end %>

  </div>

</div>