<%= render 'shared/page_title', title: 'All Blogs' %>

<div class="row">
  <div class="col-md-11">
    <section class="search-match">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <%= link_to 'Submit', '',class: 'btn btn-info pull-right' %>
        <!--<button type="submit" class="btn btn-default pull-right">Submit</button>-->
      </form>
    </section>
  </div>
</div>

<hr/>



<% @blogs.each do |blog| %>


    <div class="row main_page">

      <div class="col-md-2">
        <section class="user_info center">
          <%= gravatar_for blog.user, size:100 %>

          <h5>User name: <%= blog.user.username %></h5>

        </section>
      </div>

      <div class="col-lg-6 well">
        <h4> <%= link_to blog.blogname, blog_path(blog)%> </h4>

        <p>
          <span class="quite"><small> <%= time_ago_in_words(blog.created_at) %> ago </small></span>

        </p>
      </div>

      <div class="col-md-2">
        <%= image_tag(blog.picture.url, size: '250x150', class: "gravatar") if blog.picture? %>
      </div>

    </div>

    </div>

    <hr/>




<% end %>


<hr/>
<div class="row">
  <div class="col-md-11">
    <section class="search-match">

      <nav class="navbar-right">
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>

    </section>
  </div>
</div>

