<p>
<h1>Create a new Blog</h1>
<hr/>

</p>

<% if @blog.errors.any? %>

    <div class="row">
      <div class="alert alert-danger col-md-8 col-md-offset-2">
        <h5>Please Correct following errors:</h5>
        <ul>
          <% @blog.errors.full_messages.each do |msg|  %>
              <li><%= msg %></li>

          <%end%>
        </ul>
      </div>
    </div>

<% end %>


<div class="row">
  <div class=" well col-md-8 col-md-offset-2">

    <%= form_for @blog do |f| %>
        <%= f.label :name %>
        <%= f.text_field :blogname %>


        <%= f.label :Content %>
        <%= f.text_area :description, rows:10 %>

        <%= f.submit 'Create Blog', class:'btn btn-success' %>
    <% end %>

  </div>

</div>