<%= render 'shared/page_title', title: @blog.blogname %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= gravatar_for @blog.user, size:200 %>
    <p>
    <h5>Blog Created by: <%= @blog.user.username %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <%= link_to 'Edit Blog', edit_blog_path(@blog),class: 'btn btn-success pull-right' %>

    <div class="show_blog">
      <%= image_tag(@blog.picture.url, class: "gravatar") if @blog.picture? %>
    </div>

    <h3>Content:</h3>
    <div class="well">
     <%= simple_format(@blog.description) %>
    </div>
  </div>
</div>

<h5 class="return_blog"><%= link_to 'Return to Blog Listing', blogs_path, class: 'btn btn-warning btn-lg center' %></h5>